@tailwind base;
@tailwind components;
@tailwind utilities;

.loader {
	-webkit-animation: spinner 1.5s linear infinite;
	animation: spinner 1.5s linear infinite;
}

.hide-scrollbar {
	-ms-overflow-style: none;
	scrollbar-width: none; 
}
.hide-scrollbar::-webkit-scrollbar { 
	display: none;
}

@-webkit-keyframes spinner {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes spinner {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
